@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') ;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap') ;

.App-link {
  color: #61dafb;
}

body {
  align-items: center;
  background-color: #282c34;
  background-image: linear-gradient(45deg, #a753ed 0%, #6218e1 20%, transparent 80%);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-shadow: 2px 4px 8px black;
}

button {
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: grab;
  font-weight: 800;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
}

button:hover {
  background-color: #7361fb;
  color: white;
  transition: 0.15s;
}

form {
  background-color: #282c34;
  border: solid #7361fb 2px;
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.331) , 0 6px 20px 0 rgba(0, 0, 0, 0.365);
  display: flex;
  flex-direction: column;
  padding: 48px;
}

input {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 12px;
  outline: none;
  padding: 8px;
}

label {
  align-self: start;
  font-family: Montserrat , Roboto , Arial , sans-serif;
  font-weight: 800;
}


select {
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 800;
  margin-top: 24px;
  padding: 12px;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
